{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Inscription à la lettre de diffusion 1001 Plates</h1>
        </div>
    </div>
    
    <hr>

    <div class="row d-flex justify-content-center">
        <div class="col col-md-6">
            <p>Veuillez renseigner les champs ci-dessous :</p>
            {{ form(newsletterForm) }}
        </div>
    </div>

</div>

{% endblock %}


