<h1>Bonjour,</h1>

<p>Pour renouveler votre mot de passe, cliquez sur le lien ci-dessous: </p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>A bientôt</p>

<p>L'équipe 1001plates</p>
