{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates !</h1>
        </div>
    </div>
</div>


{% endblock %}
