<form method="post" action="{{ path('app_restaurant_private_delete', {'id': restaurant.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer votre compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
    <button class="btn btn-danger mt-3">Supprimer mon compte</button>
</form>
