{% extends 'base.html.twig' %}

{% block title %}Modification restaurant{% endblock %}

{% block body %}

    <div class="container">
    
        <h1 class="mb-5 mt-3">Modifier les informations de mon restaurant</h1>

        {{ include('restaurant_private/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

        <a href="{{ path('app_restaurant_private_accueil') }}" class="btn btn-warning">Revenir à votre page d'accueil</a>
            
    </div>

{% endblock %}
