{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">

        <h1 class="my-5">Désolé, vous n'avez pas accès à cette page.</h1>

        <a href="{{ path('app_restaurant_private_accueil') }}" class="my-5 text-decoration-none"><h3 class="link-item">Revenir à votre espace privé</h3></a>

    </div>
</div>

{% endblock %}