{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates</h1>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        {% for foodType in foodTypes %}
        {% if app.request.get('name') is same as(foodType.name) %}
        <p class="px-3">{{ foodType.name }}</p>
        {% else %}
        <a href="{{ path('app_food_type', {name: foodType.name}) }}"><p class="px-3">{{ foodType.name }}</p></a>
        {% endif %}
        {% endfor %}
    </div>

    <hr>
    <div class="d-flex justify-content-center gap-1">

    {% for restaurant in restaurants %}

        {% include 'restaurant/restaurantCard.html.twig' with { restaurant: restaurant } %}

    {% endfor %}

    </div>


</div>

{% endblock %}

