:root {
    --white: #feffff;
    --blue: #10343b;
    --salmon: #de5c5c;
    --green: #5a833b;
    --green2 : #7fb357;
    --back: #030b0c;
}


/* Font import */

@font-face {
    font-family: 'league-spartan';
    src: url('/assets/font/LeagueSpartan-VF.woff') format('woff-variations');
    font-weight: 200 900;
}

h1,h2,h3,h4 {
    font-family: 'league-spartan';
    font-weight: 600;
}

body {
    font-family:'league-spartan';
    font-weight: 400;
    color: var(--back);
}




/* Background */

.bg-blue {
    background-color: var(--blue);
}

.bg-green {
    background-color: var(--green);
}

.text-white {
    color: var(--white);
}

.btn-first button {
    background-color: var(--green);
    border: var(--green) 1px solid;
}

.btn-first button:hover {
    background-color: rgb(90 131 59 / 80%);
    border: rgb(90 131 59 / 80%) 1px solid;
}

.btn-first button:active {
    background-color: rgb(90 131 59 / 80%);
    border: rgb(90 131 59 / 80%) 1px solid;
}


.btn-second {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--green);
    background-color: var(--white);
    border: var(--green) 1px solid;
    border-radius: 10px;
}

.btn-second-active {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: var(--white);
    background-color: rgb(90 131 59 / 80%);
    border: var(--green) 1px solid;
    border-radius: 10px;
}

.btn-second:hover {
    color: var(--white);
    background-color: rgb(90 131 59 / 80%);
    transition: all 0.5s ease;
}


.link-item {
    color: var(--green);
    text-decoration: none;
}

.link-item:hover {
    color: var(--green);
}


.card-text {
    height: 12rem;
}

.opening-days {
    text-align: center;
}

.opening-days th,td {
    padding: 6px;
}

.days th {
    border-bottom: 1px solid black;
}

.newsletter {
    border-radius: 10px;
}

.cta-newsletter {
    background-color: var(--blue);
    border: solid var(--white) 1px;
    border-radius: 10px;
}