{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates !</h1>
        </div>
    </div>

    <hr>
    <h3>{{restaurant.name}}</h3>


</div>

{% endblock %}
